.answers-saved {
	display: none;
	text-align: center;
}

.answers-validation + .answers-saved {
	display: block;
}

.arrow-down {
    animation: bounce 2s infinite;
    position: absolute;
    width: 60px;
    bottom: 0;
}

:root {
    --html--light-color: #f6f7ff;
    --html-bg-color: white;
    --html-f-color: #24292e;
    --html-font-size: 1rem;
    --light-bg: #fff;
    --f-color: #eceeef;
    --circles-color: #27326d;
}

body, html {
    background-image: linear-gradient(-45deg,var(--html-bg-color),var(--html--light-color));
    color: var(--f-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a:visited {
    color: inherit;
}

.banner {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .8),rgba(0, 0, 0, .5)), url('assets/banner.jpeg');
    background-attachment: fixed;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.btn.btn-github {
    border: none;
    display: inline;
    margin: 0 0 1rem 1rem;
}

.btn {
    background: linear-gradient(-45deg,#4c6cd3,#27326d);
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 25px 0 rgba(38, 42, 97, 0.3);
    color: lightyellow;
    cursor: pointer;
    font-size: 1.3rem;
    outline: none;
    margin-top: 20px;
    padding: 0.3rem 2rem;
}

.btn.btn-contact:hover .right-arrow {
   transform: translate(10px);
}

.btn.btn-contact {
    line-height: 35px;
    margin: 0;
}

.btn:hover, .btn:focus {
    box-shadow: 0 0 10px 0 #27326d;
}

.btn.btn-github {
    margin-left: 1rem;
    position: relative;
}

.btn.btn-resume {
    display: block;
    margin: 0 auto;
}

.captcha-container {
    left: 0;
    margin-top: 1rem;
    position: relative;
}

#rc-anchor-container {
    padding: 1.5rem;
    max-width: 90%;
}

.circles {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.circles li {
    animation: animate 25s linear infinite;
    background: var(--circles-color);
    border-radius: 40%;
    bottom: -200px;
    display: block;
    height: 20px;
    list-style: none;
    position: absolute;
    width: 20px;
}

.circles li:nth-child(1){
    animation-delay: 0s;
    height: 80px;
    left: 25%;
    width: 80px;
}

.circles li:nth-child(2){
    animation-delay: 2s;
    animation-duration: 12s;
    height: 20px;
    left: 10%;
    width: 20px;
}

.circles li:nth-child(3){
    animation-delay: 4s;
    height: 20px;
    left: 70%;
    width: 20px;
}

.circles li:nth-child(4){
    animation-delay: 0s;
    animation-duration: 18s;
    height: 60px;
    left: 40%;
    width: 60px;

}

.circles li:nth-child(5){
    animation-delay: 0s;
    height: 20px;
    left: 65%;
    width: 20px;
}

.circles li:nth-child(6){
    animation-delay: 3s;
    height: 110px;
    left: 75%;
    width: 110px;
}

.circles li:nth-child(7){
    animation-delay: 7s;
    height: 150px;
    left: 35%;
    width: 150px;
}

.circles li:nth-child(8){
    animation-delay: 15s;
    animation-duration: 45s;
    height: 25px;
    left: 50%;
    width: 25px;
}

.circles li:nth-child(9){
    animation-delay: 2s;
    animation-duration: 35s;
    height: 15px;
    left: 20%;
    width: 15px;
}

.circles li:nth-child(10){
    animation-delay: 0s;
    animation-duration: 11s;
    height: 150px;
    left: -5%;
    width: 150px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 90%;
}

.contact-form label {
    color: var(--html-f-color);
    margin-bottom: 18px;
}

.contact-form input {
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1rem;
    outline: none;
    padding: 5px;
    margin-bottom: 12px;
}

.contact-info {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color:purple;
    border-width: 2px;
}

.contact-form textarea {
    border-radius: 1rem;
    outline: none;
    padding: 1.5rem;
    resize: none;
    max-width: 95%;
}

.name-validation-error .name-error,
.captcha-validation-error .captcha-error,
.email-validation-error .email-error,
.message-validation-error .message-error {
    color: red;
    display: block;
}

.name-error, .email-error, .message-error, .captcha-error {
    display: none;
    margin-top: 0;
}

.hide-form.contact-form {
	display: none;
}

.fa.fa-github,.fa.fa-linkedin {
    font-size: 2rem;
    margin: 0;
}

.footer {
    color: var(--html-f-color);
    padding: 1.5rem;
    text-align: center;
}

.footer p {
    margin: 0;
}

.g-recaptcha {
	display: inline-block;
}

.hamburger-container {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    width: 100%;
}

.hamburger-icon {
    background: var(--html-f-color);
    height: 4px;
    position: absolute;
    top: 45%;
    right: 70%;
    width: 100%;
    transition: all 0.4s ease;
}

.hamburger-icon::before, .hamburger-icon::after {
    content: '';
    background: var(--html-f-color);
    height: 4px;
    position: absolute;
    top: -8px;
    width: 100%;
}

.hamburger-icon::after {
    top: 8px;
}

.menu .toggler:checked + .hamburger-container > .hamburger-icon:before,
.menu .toggler:checked + .hamburger-container > .hamburger-icon:after {
  top: 0;
  transform: rotate(90deg);
}

.menu .toggler:checked:hover + .hamburger-container > .hamburger-icon {
    transform: rotate(225deg);
}

.menu .toggler {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 70%;
    width: 100%;
    z-index: 2;
}

.menu .toggler:checked {
    outline: none;
}

.menu {
    height: 60%;
    position: relative;
    width: 30px;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.header-nav {
    background: var(--html-bg-color);
    border-bottom: 1px solid var(--html-f-color);
    font-family: 'Amatic SC', cursive;;
    color: var(--html-f-color);
    height: 6vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
}

.header-nav ul:first-child {
    align-items: center;
    background:var(--html-bg-color);
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding-left: 1rem;
}

.header-nav ul li {
    background: var(--html-bg-color);
    list-style-type: none;
}

.header-nav ul li a {
    color: inherit;
    font-size: 1.5rem;
    text-decoration: none;
}

.header-routes {
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    right: 0;
    visibility: hidden;
}

.header-routes li {
    border: 1px solid var(--html-f-color);
    transition: all .5s ease-out;
}

.header-routes a:hover, .logo:hover {
    font-size: 2.5rem;
}

.header-routes.showing {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s linear;
}

html {
    scroll-behavior: smooth;
}

h4 {
    margin: 0;
}

.logo {
    background-color: transparent;
}

.main-content {
    color: var(--html-f-color);
    text-align: center;
}

.main-content, .section, .header, .footer {
    position: relative;
    z-index: 2;
}

.header {
    z-index: 3;
}

.main-description {
    font-size: 1.5rem;
}

.main-title {
    animation: translate 2s ease forwards;
    font-size: 2.5em;
    font-family: 'Amatic SC', cursive;;
    margin: 0;
    max-width: 700px;
    --x-translate: 0%;
    --y-translate: -600%;
}

.mode-icon {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
}

.mode-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.mode-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    background-color: rgb(43, 40, 40);
    bottom: 0;
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}  

.input-dark-mode:checked + .slider {
    background-color: grey;
}
  
.input-dark-mode:focus + .slider {
    box-shadow: 0 0 1px var(--html--light-color);
}
  
.input-dark-mode:checked + .slider:before {
  transform: translateX(26px);
}
  
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.profilepic {
    animation: bounce 2s infinite;
    border-radius: 50%;
    display: block;
    width: 35%;
    margin: 0 auto;
}

.profilepic:hover {
    box-shadow: rgba(15, 31, 87, 10) 0 0 15px;
    transform: scale(1.05);
}

.projects-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 2rem;
}

.projects-container figure img {
    display: block;
    object-fit: contain;
    max-width: 100%;
    margin: 0;
}

.projects-container figure {
    cursor: pointer;
    max-width: 90%;
    position: relative;
    text-align: justify;
}

.projects-container figure:hover .caption {
    opacity: 1;
}

.project-title {
    display: inline-block;
    margin-top: 1rem;
}

figure .caption {
    background-color: var(--html-bg-color);
    box-sizing: border-box;
    font-size: 1.25rem;
    height: 100%;
    opacity: 0;
    margin: 0;
    overflow-y: auto;
    padding: 0 20px;
    position: absolute;
    top: 0;
    transition: all 0.45s ease-in-out;
    max-width: 100%;
    z-index: 2;
}

.caption::before {
    background-color: var(--html-bg-color);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.caption, .projects-container figure img {
    border-radius: 20px;
    box-shadow: 0 0 25px 0 rgba(38, 42, 97, 0.3);
}

.right-arrow {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    transition: all 500ms ease;
}

.section {
    background: var(--html-bg-color);
    border-radius: 20px;
    box-shadow: 0 0 25px 0 rgba(38, 42, 97, 0.3);
    font-size: var(--html-font-size);
    margin: 2rem auto;
    padding: 2rem;
    text-align: justify;
    transition: all 500ms ease;
    width: 80%;
}

.section.section-me {
    align-items: center;
    display: block;
}

.section.section-form {
    padding: 3rem;
}

.show {
    animation: img-appears 1.5s ease-in;
}

.social-icons a {
    border-radius: 100%;
    color:#747a80;
    display: inline-block;
    height: 60px;
    line-height: 74px;
    transition: all .2s linear;
    width: 60px;
  }

.social-icons a i {
    height: 2rem;
    width: 2rem;
}
  
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color:#fff;
    background-color:#29aafe
}
  
.social-icons a.github:hover {
    background-color:#24292e
}
  
.social-icons a.linkedin:hover {
    background-color:#007bb6
}

.social-icons li {
  display: inline-block;
}

.small {
    font-size: 1rem;
}

.side-icon-box {
    display: flex;
}

.side-icon-box a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.side-icon i {
    font-size: 2rem;
    height: 50px;
    padding-top: 1rem;
    padding-right: 1rem;
}

.side-icon-box .email {
    font-size: .8rem;
}

.side-icon-boxes {
    margin: 2rem 0 0 0;
    max-width: 95%;
}

.title {
    border-bottom: 3px solid rebeccapurple;
    color: #24292e;
    font-family: 'Shadows Into Light', cursive;    font-size: 3rem;
    display: inline-block;
    font-size: 2.5rem;
    margin: 2rem 0;
}

.tech-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 1rem 0;
    text-align: center;
}

.tech-container-item {
    height: 80px;
    margin: 1rem 2rem;
    width: 20%;
}

.tech-container-item p {
    font-size: .8rem;
    margin: .5rem;
}

.tech-container-item:hover {
    transform: scale(1.1);
}

.tech-container-item img {
    display: inline-block;
    height: 100%;
    min-width: 100%;
    object-fit: contain;
    vertical-align: middle;
    width: 100%;
}

.tech-description {
    margin: 0 1rem;
    text-align: center;
}

.work-content img {
    border-radius: 1.5rem;
    display: block;
    height: auto;
    object-fit: contain;
    margin: 1rem auto;
    width: 60%;
}

.work-content img:hover {
    animation: bounce 2s infinite;
}

.work-content .date {
    color: hsl(0, 0%, 40%);
    font-weight: normal;
}

@media screen and (min-width:1024px) {
    .btn.btn-resume {
        margin: 0;
    }

    .description {
        margin: 0 0 0 3rem;
    }
    
    .section.section-me {
        display:flex;
    }
    
    .logo {
        letter-spacing: .5rem;
    }

    .main-title {
        font-size: 3em;
    }

    .projects-container {
        align-items: center;
    }

    .projects-container figure {
        max-width: 40%;
    }

    .tech-container {
        padding: 1.5rem 0;
    }

    .tech-container-item {
        height: 100px;
        width: 10%;
        font-size: 1rem;
    }

    .work-wrapper {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    .header .header-nav ul li a {
        font-size: 1.5rem;
    }

    .header-nav {
        height: 10vh;
    }
}

@keyframes translate {
    from { transform: translate(var(--x-translate),var(--y-translate));}
}

@keyframes bounce {
  0% { transform: translate3d(0px, 0px, 0);}
  50% {transform: translate3d(0px, -8px, 0);}
  100% {transform:translate3d(0px, 0px, 0);}
}

@keyframes img-appears {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animate {
    0% {
        opacity: .5;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateY(-1000px) rotate(720deg);
    }

}