.sunIcon {
	animation: spin 6s infinite;
	transform-origin: center;
}

.moonIcon {
	animation: bounce 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-1px);
	}

	50 {
		transform: translateY(0rem);
	}

	75% {
		transform: translateY(1px);
	}

	100% {
		transform: translateY(0);
	}
}
