.animation-left {
    animation: translate 2s ease forwards;
    --x-translate: -100%;
    --y-transalte: 0%;
}

.animation-right {
    animation: translate 2s ease forwards;
    --x-translate: 100%;
    --y-transalte: 0%;
}

.banner {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .8),rgba(0, 0, 0, .5)), url('assets/banner.jpg');
    background-attachment: fixed;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100%;
}

body, html {
    background-image: linear-gradient(-45deg,#dadde7,#f6f7ff);
    background-repeat: repeat-x;
    font-family: Orkney,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.caption, .caption::before, 
.contact, .projects-container figure img,
.tech-container, .work {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 25px 0 rgba(38, 42, 97, 0.3);
}

.date {
    color: grey;
    font-size: 1rem;
    font-weight: normal;
}

.description {
    padding: 0 4.5rem;
    text-align: justify;
}

.enterprise {
    font-size: 1.5rem;
    margin: 0;
}

figure .caption {
    background-color: transparent;
    box-sizing: border-box;
    color: white;
    font-size: 1.25rem;
    height: 100%;
    opacity: 0;
    margin: 0;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: 0;
    transition: all 0.45s ease-in-out;
    width: 100%;
    z-index: 2;
}

.caption::before {
    background-color: rgba(0,0,0,0.85);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.send-button {
    margin: 0 auto;
    width: 40%;
}

.send-button:hover {
    transform: scale(1.1);
}

.contact-button, .send-button {
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 25px 0 rgba(38, 42, 97, 0.3);
    color: lightyellow;
    cursor: pointer;
    background: linear-gradient(-45deg,#4c6cd3,#27326d);
    font-size: 1.3rem;
    margin-top: 20px;
    padding: 0.3rem 2rem;
}

.contact-button:hover .right-arrow {
    transform: translate(10px);
}

.contact-form {
    color: black;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding: 25px;
    text-align: start;
    width: 90%;
}

.contact-form label {
    color: grey;
    margin-bottom: 18px;
}

.contact-form input {
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1rem;
    outline: none;
    padding: 5px;
    margin-bottom: 12px;
}

.form-message{
    border: none;
    border-bottom: 1px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    margin: 0;
    width: 95%;
    resize: none;
}

.footer {
    padding: 10px;
    text-align: center;
}

.footer a {
    text-decoration: none;
}

.nav {
    background: black;
    color: #dadde7;
    font-size: 30px;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style-type: none;
}

.header {
    display: flex;
    width: 100%;
}

.header a {
    color: #dadde7;
    display: block;
    font-weight: bold;
    text-decoration: none;
}
  
button .icon{
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 3rem;
    position: absolute;
    opacity: 10;
    padding: .5rem;
    right: 0;
    top: 0;
    transition: all .5s ease-out;
}

.icon:hover, .menu-toggle:focus, .logo:hover, #routes a:hover {
    box-shadow: 0 0 10px 0 #27326d;
    color: #27326d;
}

.main-title {
    animation: translate 2s ease forwards;
    color: whitesmoke;
    font-size: 3em;
    margin: 0;
    max-width: 700px;
    --x-translate: 0%;
    --y-transalte: -600%;
}

/* .home-info {
    color: whitesmoke;
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    max-width: 600px;
} */

html {
    scroll-behavior: smooth;
}

.logo {
    transition: all .5s ease-out;
    letter-spacing: 10px;
    text-align: start;
    width: 45%;
}

.main-content {
    font-size: xx-large;
    margin: 20px;
}

.profilepic {
    border-radius: 50%;
    display: block;
    margin: 30px auto;
}

.profilepic:hover {
    box-shadow: rgba(15, 31, 87, 10) 0 0 15px;
    transform: scale(1.05); /* Animation */
}

.work {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 15px 10px 10px;
    width: 80%;
}

.work-content {
    text-align: center;
}

.work-content img {
    object-fit: contain;
    height: auto;
    width: 60%;
}

.profilepic {
    animation: bounce 2s 2s infinite;;
}

.projects-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit,minmax(50%,55%));
    grid-template-rows: auto auto;
    justify-content: center;
}

.projects-container figure img {
    height: 100%;
    width: 100%;
    vertical-align:top;
}

.projects-container figure {
    color: #FFF;
    cursor: pointer;
    margin: 0;
    position: relative;
    text-align: justify;
}

.projects-container figure:hover .caption {
    opacity: 1;
}

.show {
    animation: img-appears 1.5s ease-in;
}

.right-arrow {
    display: inline-block;
    font-size: 32px;
    margin: 0;
    padding: 0;
    transition: all 500ms ease;
}

.nav {
    text-align: center;
    position: absolute;
    width: 100%;
}

.nav button {
    border: none;
    padding: 0;
}

.routes {
    text-align: center;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.routes.showing {
    opacity: 1;
    position: static;
    visibility: visible;
    transition: opacity 1s linear;
}

.routes a {
    border: 1px solid aliceblue;
    margin: 0;
    transition: all .5s ease-out;
}

.routes a:hover, .logo:hover {
    color: black;
}

.nav.showing {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s linear;
}

/* #routes a {
    background:#181719;
    border-bottom: 1px solid #dadde7;
    margin: 0;
    transition: all .5s ease-out;
} */

.small {
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 1rem;
    text-align: justify;
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

.social-icons a.github:hover {
  background-color:#24292e
}

.social-icons a.linkedin:hover {
  background-color:#007bb6
}

.tech-container {
    column-gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 450px));
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 15px 10px 10px;
    row-gap: 10px;
    width: 80%;
}

.tech-container-item {
    align-items: center;
    display: flex;
    font-size: 1rem;
}

.tech-container-item img {
    margin: 1rem;
    display: block;
    height: auto;
    object-fit: contain;
    width: 20%;
}

.title, .profilepic {
    text-align: center;
}

@media screen and (min-width:600px) {
    .projects-container {
        column-gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20%,30%));
        grid-template-rows: auto auto;
        justify-content: center;
        margin: 10px;
        row-gap: 20px;
    }

    .work-wrapper {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@keyframes translate {
    from { transform: translate(var(--x-translate),var(--y-transalte));}
}

@keyframes bounce {
  0% { transform: translate3d(0px, 0px, 0);}
  50% {transform: translate3d(0px, -8px, 0);}
  100% {transform:translate3d(0px, 0px, 0);}
}

@keyframes img-appears {
  0% { opacity: 0; }
  100% { opacity: 1; }
}